.activity-detail-background-image {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.activity-detail-background-image-image {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(10px);
}

.activity-detail-from-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f1f1f1;
}

.activity-detail-from-redline {
  flex: 0 0 auto;
  width: 100%;
  height: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #d94f5c;
}

.activity-detail-from-topic {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 10px;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: column;
  background-color: #ffffff;
}

.activity-detail-from-text {
  margin: 0;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
}

.activity-detail-from-detail {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  margin-bottom: 22px;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}

.activity-detail-from-picture {
  flex: 0 0 auto;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.activity-detail-from-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activity-detail-from-content-detail {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.activity-detail-from-name-activity {
  flex: 0 0 auto;
  font-size: 24px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-detail-from-detail-activity {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-right: 30px;
}

.activity-detail-from-title-detail-activity {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-text-title {
  font-size: 30px;
  align-self: center;
  text-align: center;
  color: #ed2438;
}

.activity-detail-from-content-detail-activity {
  flex: 0 0 auto;
  width: 95%;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-text-content {
  font-size: 26px;
  text-align: justify;
}

.activity-detail-from-registration {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
}

.activity-detail-from-registration-start {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.activity-detail-from-title-registration-start {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-content-registration-start {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-registration-end {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.activity-detail-from-title-registration-end {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-content-registration-end {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-activity-date {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
}

.activity-detail-from-activity-start {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.activity-detail-from-title-activity-start {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-content-activity-start {
  flex: 0 0 auto;
  width: 50%;
  height: 75px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-activity-end {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.activity-detail-from-title-activity-end {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-content-activity-end {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-participant {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 30px;
}

.activity-detail-from-title-participant {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-content-participant {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-activity-type {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 30px;
}

.activity-detail-from-title-activity-type {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-content-activity-type {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
}

.activity-detail-from-grid-button {
  margin-bottom: 20px;
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}


.activity-detail-from-button-edit {
  all: unset !important;
  border-radius: 20px !important;
  border: 1px solid #ff4b2b !important;
  background-color: #ff4b2b !important;
  color: #ffffff !important;
  font-size: 30px !important;
  font-weight: 500 !important;
  padding: 12px 45px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  transition: transform 80ms ease-in !important;
  margin-left: 50px !important; 
  margin-right: 50px !important;
  height: 45px !important;
}
.activity-detail-from-button-edit:active {
  transform: scale(0.95) !important;
}
.activity-detail-from-button-edit:focus {
  outline: none !important;
}


.activity-detail-from-button-check {
  all: unset !important;
  border-radius: 20px !important;
  border: 1px solid #3085d6 !important;
  background-color: #3085d6 !important;
  color: #ffffff !important;
  font-size: 30px !important;
  font-weight: 500 !important;
  padding: 12px 45px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  transition: transform 80ms ease-in !important;
  margin-left: 50px !important; 
  margin-right: 50px !important;
  height: 45px !important;
}
.activity-detail-from-button-check:active {
  transform: scale(0.95) !important;
}
.activity-detail-from-button-check:focus {
  outline: none !important;
}

.activity-detail-from-button-apply {
  all: unset !important;
  border-radius: 20px !important;
  border: 1px solid #65ce57!important;
  background-color: #bad153 !important;
  color: #ffffff !important;
  font-size: 30px !important;
  font-weight: 500 !important;
  padding: 12px 45px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  transition: transform 80ms ease-in !important;
  margin-left: 50px !important; 
  margin-right: 50px !important;
  height: 45px !important;
}
.activity-detail-from-button-apply:active {
  transform: scale(0.95) !important;
}
.activity-detail-from-button-apply:focus {
  outline: none !important;
}
