.navbarHeader {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  background-color: #000000;
}

.navbar-container-left {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  margin-right: -1px;
  flex-direction: row;
  justify-content: flex-start;
}

.iconLogo-image {
  width: 150px;
  height: 50px;
  object-fit: cover;
}

.navbar-container-right {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.navbar-username {
  flex: 0 0 auto;
  margin-right: -20px;
  width: auto;
  height: 50px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.user-name {
  cursor: pointer;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
}

.navbar-avatar {
  flex: 0 0 auto;
  width: 100px;
  height: 50px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.avatar {
  object-fit: fill;
  height: 40px;
  width: 40px;
}

.navbar-login {
  flex: 0 0 auto;
  width: 130px;
  height: 50px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.menulogin-link {
  text-align: center;
  padding-top: 10px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-15 {
  background: #000;
  color: #fff;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #e0e5ec;
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #000;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 0px;
}
