.activity-link{
  min-width: 100%;
  text-decoration: none;
  color:black;
}

.activity {
  border-radius: 25px 0 0 25px;
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-start;
  background-color: #ffffff;
}
.activity-image {
  flex: 0 0 auto;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.activity-text {
  flex: 0 0 auto;
  padding :10px;
  width: 55%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.activity-title {
  max-width: 200px;
  flex: 0 0 auto;
  width: 100%;
  height: 30%;
  padding-left: 10px;
  display: flex;
  align-items: flex-start;
}
.activity-description {
  max-width: 200px;
  flex: 0 0 auto;
  width: 100%;
  height: 70%;
  margin-top: -15px;
  padding: 0px 10px 10px 10px;
  display: flex;
  align-items: flex-start;
}
.activity-image-image {
  border-radius: 25px;
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.activity-description-description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.activity-title-title {
margin: 0;
  font-weight: 600;
  font-size: 22px;
}

.activity-text {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.activity-text:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.activity-text:hover {
 background-position: 0;
}

.activity-text:hover::before{
  width: 100%;
}

@media (max-width: 1600px) {
  .activity-title-title {
    font-weight: 600;
    font-size: 18px;
  }

  .activity-description-description {
    font-weight: 400;
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .activity-title-title {
    font-weight: 600;
    font-size: 14px;
  }

  .activity-description-description {
    font-weight: 400;
    font-size: 12px;
  }
}
