.navbarHeader {
  width: 100%;
  height: 50px;
  background: #000000;
}
.navbarHeader-menuPrimaryLogo {
  display: flex;
}
.navbarHeader-menuPrimaryLogin {
  display: flex;
  justify-content: flex-end;
}
