.iconLogo {
  position: absolute;
  margin-top: -28px;
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  text-shadow: -1px 0 rgb(217, 79, 92), 0 1px #d94f5c, 1px 0 #d94f5c,
    0 -1px #d94f5c;
}
