HOST=0.0.0.0
PORT=1337

DATABASE_CLIENT=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=demo
DATABASE_USERNAME=demo_app
DATABASE_PASSWORD=change-me

APP_KEYS=change-me-1,change-me-2
API_TOKEN_SALT=change-me
ADMIN_JWT_SECRET=change-me
JWT_SECRET=change-me
