<<<<<<< HEAD
.MainContact-container {
=======
.container {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f1f1f1;
}

<<<<<<< HEAD
.MainContact-topic {
=======
.topic {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    flex: 0 0 auto;
    width: 100%;
    height: 60px;
    display: flex;
    padding: 10px;
    position: relative;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-direction: column;
    background-color: #ffffff;
}

<<<<<<< HEAD
.MainContact-heading-topic {
=======
.heading-topic {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    margin: 0;
    align-self: center;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 36px;
}

<<<<<<< HEAD
.MainContact-contact {
=======
.contact {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    flex: 0 0 auto;
    width: 90%;
    height: auto;
    display: flex;
    padding: 0px;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

<<<<<<< HEAD
.MainContact-row {
=======
.row {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

<<<<<<< HEAD
.MainContact-person {
=======
.person {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    flex: 0 0 auto;
    width: 33%;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    padding-top: var(--dl-space-space-unit);
    margin-right: 10px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
}

<<<<<<< HEAD
.MainContact-image {
=======
.image {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

<<<<<<< HEAD
.MainContact-cover-image {
=======
.cover-image {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    width: 100%;
    height: 350px;
    object-fit: cover;
}

<<<<<<< HEAD
.MainContact-information {
=======
.information {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

<<<<<<< HEAD
.MainContact-name {
=======
.name {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
.MainContact-text {
    align-self: center;
}

.MainContact-other {
=======
.text {
    align-self: center;
}

.other {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 25px;
    align-items: flex-start;
}

<<<<<<< HEAD
.MainContact-button {
=======
.button {
>>>>>>> 32f345327b6779e5ba77e9ad203a6a7b2b664770
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}