.search-bar-background {
  height: 0.1px;
  width: 0.1px;
  transform: scale(0.35);
}
* {
  outline: none;
}

.search-bar-tb {
  display: table;
  width: 100%;
}

.search-bar-td {
  display: table-cell;
  vertical-align: middle;
}

.search-bar-input,
.search-bar-button {
  color: #ffffff;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#search-bar-cover {
  left: 0;
  right: 0;
  width: 1020px;
  padding: 35px;
  background-color: #ff7575;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff9595, 0 0 0 20px #ffffffeb;
}

.search-bar-input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}

.search-bar-input[type="text"]::placeholder {
  color: #ebdbdb;
  font-weight: 700;
}

#search-bar-s-cover {
  width: 1px;
  padding-left: 35px;
}

.search-bar-button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#search-bar-s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 70px;
  height: 70px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.search-bar-button .search-bar-span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.search-bar-button .search-bar-span:before,
.search-bar-button .search-bar-span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#search-bar-s-cover:hover #search-bar-s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#search-bar-s-cover:hover .search-bar-span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#search-bar-s-cover:hover .search-bar-button .search-bar-span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#search-bar-s-cover:hover .search-bar-button .search-bar-span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#search-bar-s-cover:hover .search-bar-button .search-bar-span:before,
#search-bar-s-cover:hover .search-bar-button .search-bar-span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

@media (max-width: 1600px) {
  #search-bar-cover {
    width: 760px;
  }
}
@media (max-width: 1200px) {
  #search-bar-cover {
    width: 600px;
  }
}
